
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: calc(var(--padding) * 2);
}

.logo {
  height: 60px;
  width: auto;
}

.main-nav button {
  margin-left: var(--margin);
}



.ideas-section {
  margin-top: calc(var(--padding) * 3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ideas-section h1 {
  margin-bottom: calc(var(--padding) * 1.5);
  text-align: center;
}


.ideas-section .intro {
  max-width: 800px;
  margin-bottom: calc(var(--padding) * 3);
  line-height: 1.7;
  text-align: center;
}


.cards-grid {
  width: 100%;
  display: grid;
  gap: calc(var(--padding) * 1.5);
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}


.cards-grid article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  background-color: var(--background-light);
  color: var(--background-dark);

  padding: calc(var(--padding) * 1.2);
  border-radius: var(--border-radius-default);
  overflow: hidden;

  box-shadow: var(--shadow-small);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cards-grid article:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.cards-grid article h2 {
  margin-top: var(--margin);
  color: var(--background-dark);
}

.cards-grid article:hover h2 {
  color: var(--background-dark);
  text-decoration: underline;
}

.cards-grid article button.secondary {
  margin-top: calc(var(--margin) * 1.5);
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: var(--border-radius-default);
}

@media (min-width: 720px) {
  .cards-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .cards-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}


